<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/aboutme.png" alt="thapa" title="thapatechnical" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome Popular Weather App</p>
                        <h1>I am a <span class="txt_clr">Mern Stack </span><span style="color: purple;"> Development Practioner</span></h1>
                        <a href="https://github.com/Abnsh-gthb?tab=repositories" target="_Abinash"><button style="background: rgba(19, 249, 23, 0.466);">About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    {{>footer}}
</body>

</html>